<!DOCTYPE html>
<html>
<head>
<title>ArenaPlay - Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>âš½ ArenaPlay</h2>
    <a href="/dashboard">Campos</a>
    <a href="/logout">Sair</a>
</div>

<div class="content">
    <h1>Bem-vindo, {{ user }}</h1>
    <p>Escolha o campo para ver os lances</p>

    <div class="card" onclick="window.location='/quadra/oratorio1'">
        Oratório 1
    </div>

    <div class="card" onclick="window.location='/quadra/oratorio2'">
        Oratório 2
    </div>

    <div class="card" onclick="window.location='/quadra/oratorio3'">
       Oratório 3
    </div>
</div>

</body>
</html>
