<!DOCTYPE html>
<html lang="pt-BR">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ArenaPlay - Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">

    <div class="sidebar-logo">

        <img src="{{ url_for('static', filename='logo.png') }}" alt="ArenaPlay Logo">

        <h2>ArenaPlay</h2>

    </div>

    <a href="/dashboard">⚽ Menu</a>
    <a href="/logout">🚪 Sair</a>

</div>


<!-- CONTEÚDO -->
<div class="content">

    <h1>Bem-vindo, {{ user }}</h1>

    <p>Escolha a quadra para ver os lances</p>


    <div class="quadras-grid">

		<div class="quadra-card" onclick="window.location='/replays'">
			<h3>🎥 Replays</h3>
			<p>Assistir lances e replays</p>
		</div>
		
		<div class="quadra-card" onclick="window.location='/jogadores'">
			<h3>👥 Jogadores</h3>
			<p>Cadastro e níveis dos jogadores</p>
		</div>

		<div class="quadra-card" onclick="window.location='/sorteio'">
			<h3>🎲 Sorteio</h3>
			<p>Gerar times automaticamente</p>
		</div>
		
		<div class="quadra-card" onclick="window.location='/ranking'">
			<h3>🏆 Ranking</h3>
			<p>Ranking 2026 FEA</p>
		</div>		

    </div>

</div>

</body>
</html>